/* === IMPORTS === */

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-ExtraBold.woff2') format('woff2'),
        url('/fonts/Commissioner-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-SemiBold.woff2') format('woff2'),
        url('/fonts/Commissioner-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-Thin.woff2') format('woff2'),
        url('/fonts/Commissioner-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@supports (font-variation-settings : normal) {

    @font-face {
        font-family: 'Commissioner';
        src: url('/fonts/Commissioner-Variable.woff2') format("woff2 supports variations"),
            url('/fonts/Commissioner-Variable.woff2') format("woff2-variations");
        font-weight: 100 900;
        font-display: swap;
    }

}


/* === GLOBAL === */

body {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;
}
