{#
  This template will display whenever a 404 Not Found error is thrown. You won't
  see this template when Dev Mode is on, however. To see it while Dev Mode is on,
  go to `yoursite.test/404`

  See: https://docs.craftcms.com/v3/routing.html
#}
{% extends '_private/layout/default-layout' %}

{% block content %}
	<h1>404 Error.</h1>
{% endblock %}
